<table class="table table-hover">
    <thead>
        <tr>
            <td>#</td>
            <td>Bandera</td>
            <td>Nombre del país</td>
            <td>Población</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises; let i = index">
            <th>{{ i + 1 }}</th>
            <th>
                <img class="small-flag" [src]="pais.flag">
            </th>
            <th>{{ pais.name }}</th>
            <th>{{ pais.population | number}}</th>
            <th>
                <a [routerLink]="['/pais', pais.alpha2Code]">Más información</a>
            </th>
        </tr>
    </tbody>
</table>